<h1>Все книги библиотеки</h1>
{% for book in object_list %}
    <ul>
        <li>Название: {{ book.title }}</li>
        <li>Жанр: {{ book.subtitle }}</li>
        <li>Автор: {{ book.author }}</li>
        <li>ISBN: {{ book.isbn }}</li>
    </ul>
{% endfor %}